<p>
  <strong>Action:</strong>
  <%= @request.user_action %>
</p>
 
<p>
  <strong>Level:</strong>
  <%= @request.level %>
</p>

<p>
  <strong>Member:</strong>
  <%= @request.member %>
</p>
 
<p>
  <strong>Memberlist:</strong>
  <%= @request.memberlist %>
</p>

<p>
  <strong>Acess Group:</strong>
  <%= @request.access_group %>
</p>
 
<p>
  <strong>Access Repo:</strong>
  <%= @request.access_repo %>
</p>